/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  width: 100vw;
  height: auto;
  background-image: url(/e11/projects/To-Do-List/img/paper.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

h1 {
  width: 40vw;
  height: 20vh;
  color:plum;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

input {
  color:violet;
  background-color: rgb(211, 231, 240);
  border-radius: 5%;
  border: 2px rgb(230, 152, 230) solid;
  margin: 10px;
}

ul {
  width: 90vw;
  height: 50vh;
  top: 100px;
  left: 50px;
  position: absolute;
  display: flex;
  flex-direction: wrap;
}

ul li {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: row;
  font-weight: bold;
  font-size: 24px;
  background-image: url(/e11/projects/To-Do-List/img/nube.svg);
  background-size: contain;
  background-repeat: no-repeat;
  color:plum;
}

ul li button {
  justify-self:center;
  border: transparent;
}

button {
  border: none;
  background-color: transparent;
}

.done {
  color: yellowgreen;
  text-decoration: line-through;
}

.not-done {
  text-decoration: none;
}